{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h1>Currently reserved</h1>
    </div>
    <table class="table is-striped" style="width: 100%" id=myTable>
        <thead>
        <tr>
            <th style="text-align: center">Boss</th>
            <th style="text-align: center">Item</th>
            <th style="text-align: center">Difficulty</th>
            <th style="text-align: center">Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for _, dict_item in itemData.items() %}
            <tr>
                {% for key, val in dict_item.items() %}
                    {% if key != "user" %}
                        <td style="text-align: center">{{ val }}</td>
                    {% endif %}
                {% endfor %}
                <td style="text-align: center">
                    <button class="button" onclick="delete_row(this)">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            // Bind a click event to the "Delete" button
            function delete_row(button) {
                // Get the data from the row
                var row = $(button).parents('tr');
                var col1 = row.find('td:eq(0)').text().trim();
                var col2 = row.find('td:eq(1)').text().trim();
                var col3 = row.find('td:eq(2)').text().trim();
                var data = {'boss': col1, 'item': col2, 'difficulty':col3};

                // Post the data to the URL using AJAX
                $.ajax({
                    url: "{{ url_for('main.remove_reservation') }}",
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        // Handle success response
                        row.remove(); // Remove the row from the table
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                    }
                });
            }
        });
    </script>
{% endblock %}
